@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    font-optical-sizing: auto;
}

html {
    font-family: "Roboto", sans-serif !important;
}

.custom-input {
    color: white;
    box-shadow: 0 1px 0 0 #e3f2fd !important;
}

    .custom-input:focus {
        border-bottom: 1px solid #e3f2fd !important;
        box-shadow: 0 1px 0 0 #e3f2fd !important;
    }

.input-field .prefix.active {
    color: #e3f2fd !important;
}

.input-field label {
    color: #e3f2fd !important;
}

.input-field input[type=email]:focus + label {
    color: #e3f2fd !important;
}

.custom-padding {
    padding-left: 10px;
}

.custom-input {
    color: white;
}

.btn-spacing {
    margin-right: 10px;
}

.card-panel {
    padding: 20px;
}

.nav-wrapper ul.right li {
    margin-right: 15px;
}

.btn.logout-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

    .btn.logout-btn .material-icons {
        margin-left: 8px;
    }

.card-border {
    border-radius: 5px !important;
}

.tabs .tab a {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.border-radius {
    border-radius: 5px;
    border: 0px solid transparent !important;
    outline: none !important;
}

.font-color-white {
    color: white !important;
    font-weight: bold;
    font-size: 14px;
}

button {
    color: white !important;
    font-weight: bold !important;
    font-size: 13px !important;
    padding: 20px !important;
    font-family: "Roboto"
}

#btnLogout i {
    margin-left: 8px;
}

.centralizar-elementos {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    gap: 20px;
}

.mdc-top-app-bar {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: #0d47a1;
}

.custom-hr {
    border: none;
    height: 1px;
    background-color: #0d47a1;
    margin: 20px 0;
}

#toast-container {
    right: 10px !important;
    left: auto !important;
    top: 65px !important;
    bottom: auto !important;
}

#ligacaoManual .input-field.center-align {
    position: relative;
}

#btnCallRequest {
    position: absolute;
    top: -2px !important;
    left: 0 !important;
}

.container-gap {
    display: flex;
    gap: 10px;
}

.snackbar-font {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.hidden {
    display: none;
}

label, a, p, span {
    letter-spacing: 1px !important;
}